<h1>Duthie Park</h1>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/map">Map</a></li>
        <li><a href="/wgmap">Winter Gardens Map</a></li>
        <li><a href="/transport">Transport</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/info">Information</a></li>
        <li><a href="/treasure">Treasure Hunt</a></li>
    </ul>
</nav>