<h2>Aberdeen City Coat of Arms</h2>
<p>
    The right to bear a set of arms is a privilege granted by the sovereign 
    through the Lord Lion King of Arms. Few burghs in Scotland have 
    been permitted to adopt supporters, and Aberdeen’s leopards are a 
    mark of royal favour. The city’s motto ‘Bon-Accord’ (good fellowship), 
    has remained unchanged since at least 1430. In local legend it dates 
    back to the Wars of Independence. ‘Bon-Accord’ being the 
    townsfolk’s watchword in 1308 during the successful assault on 
    Aberdeen’s castle, then in English hands.</p>