<h2>The Japanese Garden</h2>
<p> 
    The Japanaese Garden at Duthie Park was designed by the 
    Japanese-born landscape architect Takashi Sawano. It was 
    officially opened by His Excellency Toshio Yamazaki the Japanese 
    Ambassador to Britain in June 1987.</p>