<h2>Regensburg Männchen</h2>
<p>
    Richard Ross Robertson, Aberdeen, 
    1914-2007. Student and tutor at 
    Gray’s School of Art. Replica of the 
    Regensburger Brückenmännchen – Bridge Man of Regensburg – which 
    stands on the bridge over the Danube at 
    Regensburg. Presented by the Scottish/
    German Association in 1973 in recognition 
    of Aberdeen’s twinned city link. </p>