<h2>Gargoyle</h2>
<p>
    Artist unknown. This water spouting 
    gargoyle was formerly sited in the 
    Victoria Park, Rosemount in a section 
    known locally as Tom’s Castle. A 
    miniature castle once stood on the 
    summit of a small knoll and children 
    believed that it was inhabited by little 
    Tom Thumb himself! The gargoyle was 
    part of a well at the base of the knoll.</p>