<h2>
    Trade and Finance
</h2>
<p>
     
Sydney Boyes 1878-1931, Southampton, England. This bronze panel 
in high relief, was designed by Boyes and cast in Burton on Trent 
between 1905-1908. Originally set into the cast iron parapet or 
balustrade, formerly on the south side of Union Bridge. This side 
was removed when shops were built in 1962. The figures represent: 
trade, finance, fishing, shipbuilding, engineering and agriculture. 
The original balustrade is in the park at the Linked Lakes (see entry 
15), as are the Kelly’s Cats (36) which were arranged along the top.
</p>