<h2>
    McPuddock
</h2>
<p>
    The mechanical diving frog in the Fern House pond is a constant 
    source of delight for all ages. He was presented to the Winter Gardens 
    by the North East of Scotland Federation of Towns Woman’s Guild. </p>