<h2>Peace</h2>
<p> 
    Presented by the family of James 
    Dougall Rust, granite merchant 
    it was bequeathed to the city 
    by Muriel Rust on behalf of her 
    late husband in 1991. The seven 
    foot high sculpture of a liberty 
    figure dressed in classical robes 
    and holding a torch is thought 
    to have been sculpted around 
    1930 by James Philip, who was 
    responsible for parts of the work 
    on the King Edward VII statue at 
    Union Street and the war memorial 
    lion next to Aberdeen Art Gallery. 
    It is of particular interest because 
    of the skill and time involved in 
    fashioning granite. Originally sited 
    in the Sensory Garden at Victoria 
    Park, Rosemount it was relocated 
    here in May 2005.</p>