<h2>
    Multi-Facetted Sundial
</h2>
<p>
    This 1707 sundial pre-dates 
    both the park and Arthurseat 
    House. As well as a sundial for 
    telling the time, there are dials 
    which could be used to make 
    astronomical observations of 
    the earth’s orbit and movement 
    in the solar system. They had to 
    be specifically made to match 
    the latitude of their location, 
    and hence angle of sun, in 
    Aberdeen’s case, 57° North.</p>