<h2>Kelly’s Cats</h2>
<p>
    Sydney Boyes (1878-1931), 
    Southampton, England, 1910, cast iron 
    painted black, Known locally as ‘Kelly’s 
    Cats’, they are in fact leopards from the 
    city coat of arms and were once ranged 
    along the two parapets of Union Bridge 
    (see enty 16). The name ‘Kelly’s Cats’ is 
    actually a misnomer, as only the bronze 
    panels from the bridge were designed 
    by Aberdeen architect William Kelly. The 
    cast iron leopard finials were actually 
    designed by Sidney Boyes, who taught 
    at Grays School of Art, Aberdeen.</p>