<h2>Wooden Figures</h2>
<p>
    These wood carvings were 
    originally situated in the park 
    specifically for children to 
    play on. They were carved by 
    students of Aberdeen Gray’s 
    School of Art in Garthdee, 
    who were employed by the 
    Parks Department during the 
    summers of 1971, 1972, 
    and 1973</p>