<h2>Oak Wheelbarrow</h2>
<p>
    This is the original used by 
    Miss Duthie and the Earl of 
    Aberdeen during the cutting 
    of the first turf on 27th August 
    1881. It is of finely polished 
    oak with the Duthie arms 
    and the family motto ‘Data 
    Fata Sectus’. It was made by 
    Mr T Baird Cabinet maker of 
    Aberdeen.</p>