<h2>Provost’s Lamps</h2>
<p>
    These are placed on 
    either side of the 
    doorway of Aberdeen 
    Provost’s houses. The 
    tradition comes from 
    an old English custom 
    of marking the Chief 
    Magistrate’s house. 
    The first Scottish ones 
    were in Edinburgh, then 
    later other cities with 
    the first pair set up in 
    Aberdeen in 1838.</p>