<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <header>
            <%- include('../partials/header') %> 
        </header>

        <main>

            <table class="table">
                <tr>
                    <td>
                        Facility Manager<br>
                        David Welch Winter Gardens<br>
                        Duthie Park<br>
                        Polmuir Road <br>
                        01224 346421<br>
                        <a href="mailto:wintergardens@aberdeencity.gov.uk">wintergardens@aberdeencity.gov.uk</a>
                    </td>
                    <td>
                        City Events Team<br>
                        Enquiries for Events in Duthie Park<br>
                        First Floor Town House<br>
                        Broad Street<br>
                        Aberdeen<br>
                        AB10 1AQ<br>
                        03000 200 292<br>
                        <a href="mailto:cityevents@aberdeencity.gov.uk">cityevents@aberdeencity.gov.uk</a>
                    </td>
                    <td>
                        Environmental Services<br>
                        Duthie Park Depot Office<br>
                        Polmuir Avenue<br>
                        Aberdeen<br>
                        AB11 7TH<br>
                        03000 200 292<br>
                        <a href="mailto:cleanaberdeen@aberdeencity.gov.uk">cleanaberdeen@aberdeencity.gov.uk</a>
                    </td>
                </tr>
            </table>

        </main>

        <footer>
            <%- include('../partials/footer') %> 
        </footer>
    </body>
</html>