<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <header>
            <%- include('../partials/header') %> 
        </header>

        <main>
            <div>
                <h2>Summer Concert Series</h2>
                <p>Join us for an unforgettable evening of live music amidst the scenic beauty of Duthie Park in Aberdeen. Settle onto the lush green lawns as talented local artists and bands serenade you with a diverse array of musical genres, from soulful melodies to energetic rhythms. With food vendors offering delicious treats and a relaxed, family-friendly atmosphere, our Summer Concert Series is the perfect opportunity to soak up the sunshine, unwind with friends and family, and create lasting memories against the backdrop of this iconic park.</p>
            </div>
            <div>
                <h2>Nature Photography Workshop</h2>
                <p>Calling all shutterbugs and nature enthusiasts! Immerse yourself in the breathtaking landscapes and diverse flora and fauna of Duthie Park with our exclusive Nature Photography Workshop. Led by experienced photographers, this hands-on event offers participants the chance to hone their photography skills while capturing the park's natural beauty. Learn expert techniques for capturing light, composition, and the essence of wildlife as you explore the park's hidden gems and scenic vistas. Whether you're a beginner or seasoned photographer, this workshop promises inspiration and creativity in abundance, making it an unmissable opportunity for photography enthusiasts of all levels.</p>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer') %> 
        </footer>
    </body>
</html>