<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <header>
            <%- include('../partials/header') %> 
        </header>

        <main>
            <div class="temp-box" id="output"></div>

    <script>
        // Make a GET request to the API endpoint
        fetch('http://api.weatherapi.com/v1/forecast.json?key=b2bd0330a48f4135aca23234242502&q=57.13069126923598, -2.1037042191987134&days=1&aqi=no&alerts=no https://www.weatherapi.com/api-explorer.aspx#forecast')
        .then(response => {
                // Check if the request was successful
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                // Parse the JSON response
                return response.json();
            })
            .then(data => {
                // Extract the current temperature
                const currentTempC = data.current.temp_c;
                const currentTempF = data.current.temp_f;
                const APIImage = data.current.condition.icon;
                
                // Update the content of the output div with the current temperature
                document.getElementById('output').innerHTML = `
                    <p class="difFont">Current Temperature: ${currentTempC}°C</p> 
            <img src="${APIImage}" alt="weather icon">
            

                `;
                
                const date = new Date();
                test = date.getHours() * 60 + date.getMinutes();
                console.log(test);
                console.log(date.getHours())
                console.log(date.getMonth())
                wint = [0,1,10,12];
const hour = date.getHours();
const minutes = (date.getHours() * 60) + date.getMinutes();

if ((wint.includes(date.getMonth()) && minutes >= 630 && hour < 15) || (minutes >= 630 && hour < 16)) {
    if ((date.getMonth() === 11 && (date.getDate() === 26 || date.getDate() === 25)) || 
        (date.getMonth() === 0 && (date.getDate() === 1 || date.getDate() === 2))) {
        // Do nothing, it's a holiday
    } else {
        document.getElementById('output').innerHTML += "<br><p>The David Welch Winter Garden is <b>Open</b></p>";
    }
} else if ((date.getTime() % 86400) / 60 >= 630 && hour < 15) {
    document.getElementById('output').innerHTML += "<br><p>The David Welch Winter Garden is <b>Open</b></p>";
}

}
            )
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    </script>
            <h1>Welcome to Duthie Park</h1>
            <div class="home-panel">
                <img src="images/park.jpg" alt="duthie park bandstand">
                <p>Explore the tranquil beauty of Duthie Park in Aberdeen, a verdant oasis offering serene pathways, vibrant gardens, and playful attractions for all ages. From lush greenery to picturesque ponds, this park is a haven for nature lovers and families seeking relaxation and outdoor fun.</p>
            </div>
            <div class="home-panel">
                <img src="images/wintergardens.jpg" alt="duthie park bandstand">
                <p>Discover the magic of Duthie Park's Winter Gardens in Aberdeen. Amidst winter's chill, these glass sanctuaries bloom with vibrant colors and exotic flora, offering a warm escape. Wander through lush pathways, marvel at towering palms and delicate orchids. Whether seeking tranquility or a burst of nature's beauty, the Winter Gardens at Duthie Park enchant visitors year-round.</p>
            </div>
            <div class="home-panel">
                <img src="images/flowers.png" alt="duthie park bandstand">
                <p>Embark on a journey through the natural splendor of Duthie Park's picturesque nature trails in Aberdeen. Wind your way through tranquil pathways enveloped by towering trees, where the soothing sounds of birdsong and rustling leaves create a symphony of serenity. Immerse yourself in the diverse flora and fauna that flourish along the trails, offering glimpses of seasonal blooms and native wildlife. Whether you seek a leisurely stroll, an invigorating jog, or a peaceful moment of reflection amidst nature's embrace, Duthie Park's nature trails promise an unforgettable experience for outdoor enthusiasts of all levels.</p>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer') %> 
        </footer>
    </body>
</html>