<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <header>
            <%- include('../partials/header') %> 
        </header>

        <main>
<!-- http://api.weatherapi.com/v1/forecast.json?key=b2bd0330a48f4135aca23234242502&q=57.13069126923598, -2.1037042191987134&days=1&aqi=no&alerts=no https://www.weatherapi.com/api-explorer.aspx#forecast maybe do something?-->
            <h1>Welcome to Duthie Park</h1>
            <div class="home-panel">
                <img src="images/park.jpg" alt="duthie park bandstand">
                <p>Explore the tranquil beauty of Duthie Park in Aberdeen, a verdant oasis offering serene pathways, vibrant gardens, and playful attractions for all ages. From lush greenery to picturesque ponds, this park is a haven for nature lovers and families seeking relaxation and outdoor fun.</p>
            </div>
            <div class="home-panel">
                <img src="images/wintergardens.jpg" alt="duthie park bandstand">
                <p>Discover the magic of Duthie Park's Winter Gardens in Aberdeen. Amidst winter's chill, these glass sanctuaries bloom with vibrant colors and exotic flora, offering a warm escape. Wander through lush pathways, marvel at towering palms and delicate orchids. Whether seeking tranquility or a burst of nature's beauty, the Winter Gardens at Duthie Park enchant visitors year-round.</p>
            </div>
            <div class="home-panel">
                <img src="images/flowers.png" alt="duthie park bandstand">
                <p>Embark on a journey through the natural splendor of Duthie Park's picturesque nature trails in Aberdeen. Wind your way through tranquil pathways enveloped by towering trees, where the soothing sounds of birdsong and rustling leaves create a symphony of serenity. Immerse yourself in the diverse flora and fauna that flourish along the trails, offering glimpses of seasonal blooms and native wildlife. Whether you seek a leisurely stroll, an invigorating jog, or a peaceful moment of reflection amidst nature's embrace, Duthie Park's nature trails promise an unforgettable experience for outdoor enthusiasts of all levels.</p>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer') %> 
        </footer>
    </body>
</html>