<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <header>
            <%- include('../partials/header') %> 
        </header>

        <main>
            <h1>Information</h1>
            <div class="history">
                <h2>History</h2>
                <p>Duthie Park opened in 1883 after it was gifted to the city by Miss Elizabeth Crombie Duthie in 1880 for the 'wellbeing and recreation of Aberdeen inhabitants'.
                    Duthie Park is loved by locals and visitors due to its wonderfully restored Victorian features such as the band stand, fountains, and boating ponds. The park also has an astro turf area for ball games and two other play areas; one for younger children and another for the more adventurous child which has been voted best play space in Scotland. The Park Café is also very popular with visitors.
                    In the 1900s, the David Welch Winter Gardens was added to the park. Unfortunately, it was severely damaged in 1969 due to extreme gales, so it was demolished and replaced with the building we know and love today.
                    The 'Winter Gardens' now houses one of the most visited public indoor plant collections in Scotland and provides an oasis no matter what time of year it is! The Winter Gardens provides a unique venue for weddings and hosts an annual carol concert every December.
                    Duthie Park gained Aberdeen's first Green Flag Park Awards in 2013 and has maintained it ever since. The award is granted by Keep Scotland Beautiful and recognises quality green spaces. The park and The Winter Gardens are one of the regular places where Keep Scotland Beautiful and Britain in Bloom judges are taken when they visit Aberdeen for their judging. The city has won a medal in either Britain in Bloom or Beautiful Scotland every year since 2008 and has been award-winning in the competitions since 1964.
                    The park is a great place for dog walks, picnics, children riding bikes, and visits in all weathers.</p>
            </div>
            <div class="rangers">
                <h2>Duthie Park Rangers</h2>
                <p>The Duthie Park Ranger service is based in the old bowling pavilion within the park. They provide a variety of activities for schools and community groups throughout the year. In addition, the service runs workshops for youngsters and adults.</p>
            </div>
            <div class="friends">
                <h2>Friends of Duthie Park</h2>
                <p>The Friends of Duthie Park is an active community group established to promote and enhance the park. The Friends group were essential in the application and securing of funding from the Heritage Lottery Fund and continue to work closely with Aberdeen City Council to ensure the continuing high quality of the park. See the Friends of Duthie Park website for more information and find out how you can get involved.</p>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer') %> 
        </footer>
    </body>
</html>