<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <header>
            <%- include('../partials/header') %> 
        </header>

        <main>
            <div id="map"></div>
            <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
            <!-- <script src="../../javascript/mapScript.js"></script> -->
            <script src="javascript/mapScript.js"></script>
            <p id="sidePanel" style="float: right; width: 40%"></p></p>
        </main>

        <footer>
            <%- include('../partials/footer') %> 
        </footer>
    </body>

</html>