<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-control-geocoder/1.13.0/Control.Geocoder.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-control-geocoder/1.13.0/Control.Geocoder.css" />
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-control-geocoder/1.13.0/Control.Geocoder.js"></script> -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-routing-machine/dist/leaflet-routing-machine.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-control-geocoder/1.13.0/Control.Geocoder.css" />
        <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js"></script>
    </head>

    <body>
        <header>
            <%- include('../partials/header') %> 
        </header>

        <main>
            <h1>Map</h1>
            <table>
                <tr>
                    <td><div class="difFont" id="map" style="float: left"></div></td></tr>
            <script src="javascript/mapScript.js"></script>
                    <tr>
                    <!-- <td><p id="sidePanel" style="float: right; width: 40%"></p></td> -->
                    <td><p id="sidePanel"></p></td>
                </tr>
            </table>
            

            <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
        </main>

        <footer>
            
            <%- include('../partials/footer') %> 
        </footer>


    </body>

</html>