<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="../../styles/transport.css">
    </head>

    <body>
        <header>
            <%- include('../partials/header') %> 
        </header>

        <main>
            <h1>Transport</h1>
            <div class="parking">
                <h2>Parking</h2>
                <p>Free parking and secondary parking available</p>
                <p>Bike lock up stands outside winter gardens and car park</p>
            </div>

            <h2>Buses</h2>
            <p>
                First bus: 17, 18<br>
                Stagecoach: X6, X7, X8, 204
            </p>

            <div class="slideshow-container">

                <!-- Full-width slides/quotes -->
                <div class="mySlides">
                  <p>First Bus: 17A</p>
                  
                  <p class="time">Times(heading south from Duthie park): 07:02	07:32	07:54	08:29	08:59	09:29	09:59	10:29	10:59   then every 20 minutes until	16:59	17:15	17:35	17:55	18:15	18:35	18:55</p>
                  <p class="time">Times(heading north from Duthie park): 07:23	07:53	08:23	08:53	09:23	09:53	10:23	then every 20 minutes until 18:43	18:58</p>
                </div>
              
                <div class="mySlides">
                  <p>Stagecoach: 7B</p>
                  <p class="time">Times (heading south from Duthie park): 07:45	09:35	11:35	13:35	15:35	17:35	19:48	23:13</p>
                  <p class="time">Times(heading north from Duthie park): 	07:31	09:23	11:20	13:20	15:20	17:20	19:20	22:51</p>

                </div>
              
                <div class="mySlides">
                  <p>Stagecoach: X7</p>
                  <p  class="time">Times (heading south from Duthie park):	09:10	10:10	11:10	12:10	13:10	14:10	15:10	16:10	17:25	18:25	19:25	20:25	21:55</p>
                  <p class="time">Times(heading north from Duthie park): 08:45	09:45	10:45	11:45	12:45	13:45	14:45	15:45	16:45	17:45	18:45	19:45		21:3</p>

                </div>
              
                <!-- Next/prev buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
              </div>
              
            <h2>Bikes</h2>

            <p>yeah</p>
        </main>

        <footer>
            <%- include('../partials/footer') %> 
        </footer>
    </body>

    <script src="../../javascript/transport.js"></script>
</html>