<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <header>
            <%- include('../partials/header') %> 
        </header>

        <main>
            <p>Free parking and secondary parking available</p>
            <p>Bike lock up stands outside winter gardens and car park</p>

            <h2>Buses</h2>
            <ul>
                <li>First bus: 17, 18</li>
                <li>Stagecoach: X6, X7, X8, 204</li>
            </ul>
        </main>

        <footer>
            <%- include('../partials/footer') %> 
        </footer>
    </body>
</html>