<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <header>
            <%- include('../partials/header') %> 
        </header>

        <main>

            <h1>Treasure Hunt</h1>

            <p>Find all the hidden treasures using our thingy <a href="/ar">here</a>!!!</p>

        </main>

        <footer>
            <%- include('../partials/footer') %> 
        </footer>
    </body>
</html>