<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <header>
            <%- include('../partials/header') %> 
            <script src="../../javascript/weather.js"></script>
        </header>

        <main>
            <h1>Weather</h1>

            <div class="difFont" id="output"></div>

            <table>
                <tr>
                    <td>
                        <img src="https://rachelsquirrel.files.wordpress.com/2022/12/20221215_114747.jpg" height="400px" alt="Duthie Park in the snow">
                    </td>
                    <td>
                        <img src="https://all.accor.com/magazine/imagerie/shutterstock_1202803783-4a7f.jpg" height="400px" alt="Duthie Park in the sun">
                    </td>
                </tr>
            </table>


            <!-- http://api.weatherapi.com/v1/forecast.json?key=b2bd0330a48f4135aca23234242502&q=57.13069126923598, -2.1037042191987134&days=7&aqi=no&alerts=no -->
        </main>

        <footer>
            <%- include('../partials/footer') %> 
        </footer>
    </body>
</html>