<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <header>
            <%- include('../partials/header') %> 
        </header>

        <main>
            <h1>Weather</h1>

            <p id="output"></p>

            <!-- http://api.weatherapi.com/v1/forecast.json?key=b2bd0330a48f4135aca23234242502&q=57.13069126923598, -2.1037042191987134&days=7&aqi=no&alerts=no -->
        </main>

        <footer>
            <%- include('../partials/footer') %> 
        </footer>
    </body>

    <script>
        // Make a GET request to the API endpoint
        fetch('http://api.weatherapi.com/v1/forecast.json?key=b2bd0330a48f4135aca23234242502&q=57.13069126923598, -2.1037042191987134&days=1&aqi=no&alerts=no https://www.weatherapi.com/api-explorer.aspx#forecast')
        .then(response => {
                // Check if the request was successful
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                // Parse the JSON response
                return response.json();
            })
            .then(data => {
                // Extract the current temperature
                const currentTempC = data.current.temp_c;
                const currentTempF = data.current.temp_f;
                
                
                // Update the content of the output div with the current temperature
                document.getElementById('output').innerHTML = `
                    <p>Current Temperature: ${currentTempC}°C</p>
                `;
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    </script>
</html>