<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="../../styles/wintergardensmap.css">
        
    </head>
    
    <body>
        <header>
            <%- include('../partials/header') %> 
        </header>

        <main>
            <h1>David Welch Winter Gardens Map</h1>

            <img src="../../images/wintergardensmap.png" usemap="#workmap" width="auto" height="auto">
            <map name="workmap" >
                <area shape="circle" coords="331,685,10" onclick="testing(24)"  >
                <area shape="circle" coords="366,511,10" onclick="testing(25)"  >
                <area shape="circle" coords="124,562,10" onclick="testing(26)"  >
                <area shape="circle" coords="166,213,10" onclick="testing(27)"  >

                <area shape="circle" coords="191,320,10" onclick="testing(28)"  >
                <area shape="circle" coords="328,421,10" onclick="testing(29)"  >
                <area shape="circle" coords="427,235,10" onclick="testing(30)"  >
                <area shape="circle" coords="525,239,10" onclick="testing(31)"  >

                <area shape="circle" coords="507,476,10" onclick="testing(32)"  >
                <area shape="circle" coords="812,430,10" onclick="testing(33)"  >
                <area shape="circle" coords="776,330,10" onclick="testing(34)"  >
                <area shape="circle" coords="579,396,10" onclick="testing(35)"  >

                <area shape="circle" coords="618,291,10" onclick="testing(36)"  >
                <area shape="circle" coords="677,180,10" onclick="testing(37)"  >
                <area shape="circle" coords="711,277,10" onclick="testing(38)"  >
                <area shape="circle" coords="743,242,10" onclick="testing(39)"  >
                <area shape="circle" coords="847,235,10" onclick="testing(40)"  >

                <area shape="circle" coords="582,606,10" onclick="testing('toilet')"  >
                <area shape="circle" coords="620,606,10" onclick="testing('cafe')"  >
            </map>

            <div id="changer"><!--content goes here with ajax $... -->
                <p></p>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer') %> 
        </footer>
    </body>

    <script>
        function test(input){
            if(input==24){}
            else if(input=="toilet"){alert("well duh")} 
            else if(input=="TOODO"){}//its working

        }
        function tester()
        {

        }
    </script>
<script src=http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js></script>
        
<script src="javascript/main.js"></script>
</html>