body {
    width: 80%;
    margin: auto;
    font-family: 'proxima-nova';
    color: #1b1b3a;
}

/* font regular weight */
@font-face {
    font-family: proxima-nova;
    src: url(../fonts/Fontspring-DEMO-proximanovacond-regular.otf);
}

/* font bold */
@font-face {
    font-family: proxima-nova-bold;
    src: url(../fonts/Fontspring-DEMO-proximanova-bold.otf);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'proxima-nova-bold';
}

/* nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

li {
    float: left;
}
  
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}
  
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: white;
    color: #603863;
    text-decoration: none;
}

header, main, footer, nav{
    display: block;
}

header, footer {
    background-color: #603863;
    color: white;
    padding: 5px;
}

#map {
    height: 400px;
    width: 1200px;
}

/* for the contact table - */
td {
    padding-right: 20px;
}

#icon, header> h1 {
    display: inline;
    margin: 0 20px;
    margin-right: 10px;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.home-panel {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.home-panel p {
    padding-left: 2rem;
}

.home-panel img {
    width: 40%;
} 

.parking {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}